
[run]
branch = True
relative_files = True
omit =
        */test/*
        **/tests/integration/**
        */application/*/common/*
        */usr/local/lib*
        */__init__.py
        **/*database_populator.py
        **/*ods_location_comparator.py
        **/*service_data_load.py
        **/*org_data_load.py

[report]
omit =
        */test/*
        **/tests/integration/**
        */application/*/common/*
        */usr/local/lib*
        */__init__.py
        **/*database_populator.py
        **/*ods_location_comparator.py
        **/*service_data_load.py
        **/*org_data_load.py
